<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.eas.webservices.kingdee.dao.ItoumiMapper">
	<!-- 入职查询返回员工编号-->
	<select id="enrollEmployeeQuery" resultType="Map" parameterType="Map">
  
	select distinct person.fnumber as empNO  
  from  t_hr_empenrollbizbillentry   entrys  
  left join  t_hr_empenrollbizbill  bill  on entrys.fbillid=bill.fid
  left join t_bd_person  person  on  entrys.fpersonid=person.fid
	where  bill.fbillstate=3  and person.fnumber is not null 
  	<if test="beginTime != null and beginTime != '' ">
  	and entrys.fbizdate &gt;= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	<if test="endTime != null and endTime != ''">
  	and entrys.fbizdate &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	
	</select>
	
	<!-- 离职查询返回员工编号  -->
	<select id="resignEmployeeQuery" resultType="Map" parameterType="Map">
	select distinct person.fnumber as empNO
  	from t_hr_resignbizbillentry entrys
  	left join t_hr_resignbizbill bill on entrys.fbillid = bill.fid
  	left join t_bd_person  person   on  entrys.fpersonid= person.fid
  	where  bill.fbillstate=3  and person.fnumber is not null
	<if test="beginTime != null and beginTime != '' ">
  	and entrys.fbizdate &gt;= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	<if test="endTime != null and endTime != ''">
  	and entrys.fbizdate &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
  	</if>
	</select>
	
	<!-- 异动查询返回员工编号 、工作城市、部门ID、部门名称 -->
	<select id="fluctuationEmployeeQuery" resultType="Map" parameterType="Map">
	select distinct person.fnumber  as empNO , ygszd.fname_l2 as workCity , adminunit.fid as deptID,
	adminunit.fdisplayname_l2 as deptName 
	 from t_bd_person  person 
	left join t_org_positionmember  positionmember  on person.fid=positionmember.fpersonid and positionmember.fisprimary=1
	left join T_ORG_Position  position  on positionmember.fpositionid=position.fid
	left join t_org_admin  adminunit   on  adminunit.fid=position.fadminorgunitid
	left join CT_HR_Ygszd ygszd on person.cfygszdid=ygszd.fid
	left join T_HR_BDEmployeeType  emptype  on  person.femployeetypeid =emptype.fid
	where  adminunit.fid  is not null  and person.fid in (
	<!-- 任职资格异动及城市异动-->
	select empinfoentrys.fpersonid from T_HR_EmpInfoBizBillEntry  empinfoentrys
	left join T_HR_EmpInfoBizBill  empinfobill  on empinfoentrys.fbillid=empinfobill.fid
	where empinfobill.fbillstate=3  
	<if test="beginTime != null and beginTime != '' ">
  	and empinfoentrys.fbizdate &gt;= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	<if test="endTime != null and endTime != ''">
  	and empinfoentrys.fbizdate &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	
	union all 
	<!-- 内部异动 -->
	select flucentrys.fpersonid from T_HR_FluctuationBizBillEntry  flucentrys  
	left join T_HR_FluctuationBizBill flucbill  on flucentrys.fbillid=flucbill.fid
	where flucbill.fbillstate=3  
	<if test="beginTime != null and beginTime != '' ">
  	and flucentrys.fbizdate &gt;= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	<if test="endTime != null and endTime != ''">
  	and flucentrys.fbizdate &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	
  	)
	</select>
	
	<!-- 员工验证查询  -->
	<select id="validateEmployeeQuery" resultType="Map" parameterType="Map">
	select distinct 'true' as hasEmp, person.fnumber  as empNO , ygszd.fname_l2 as workCity , adminunit.fid as deptID,
	adminunit.fdisplayname_l2 as deptName ,lxfs.cfmail as email
	 from t_bd_person  person 
	 inner join T_ORG_PositionMember  positionmember  on  person.fid=positionmember.fpersonid  and  positionmember.fisprimary=1
	 left join T_ORG_Position  position  on positionmember.fpositionid=position.fid
	left join t_org_admin  adminunit   on  adminunit.fid=position.fadminorgunitid
	left join CT_HR_Ygszd ygszd on person.cfygszdid=ygszd.fid
	left join T_HR_PersonContactMethod  lxfs on person.fid=lxfs.fpersonid
	where 1=1
  	and person.fnumber =#{empNO}
  	and person.fname_l2 =#{empName}
  	<choose>
  		<when test="typeKey=='idCardNO'" >
  		and person.fidcardno=#{typeValue}
  		</when>
  		<when test="typeKey=='passportNO'" >
  		and person.fpassportno=#{typeValue}
  		</when>
  		<when test="typeKey=='txz'" >
  		and person.cftxz=#{typeValue}
  		</when>
  		<when test="typeKey=='Email'">
  		and lxfs.cfmail=#{typeValue}
  		</when>
  		<otherwise>
  		and 1=2
  		</otherwise>
  	</choose>
  	
	</select>
	
	<!-- 员工验证查询  -->
	<select id="validateCardTypeQuery" resultType="Map" parameterType="Map">
	select distinct 
                person.fnumber as empNO,
                person.fname_l2 as empName,
                person.fidcardno  as idCardNO,
                person.fpassportno  as passportNO,
                person.cftxz  as txz
  	from t_bd_person person
 	inner join T_ORG_PositionMember positionmember
    on person.fid = positionmember.fpersonid
  	and positionmember.fisprimary = 1
 	where 1 = 1
  	and person.fnumber =#{empNO}
  	and person.fname_l2 =#{empName}
	</select>
</mapper>
