<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.eas.dictionary.dao.IDictionaryItemMapper" >
  <resultMap id="BaseResultMap" type="com.creditease.eas.dictionary.bean.DictionaryItem" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="baseid" property="baseid" jdbcType="INTEGER" />
    <result column="itemname" property="itemname" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
     <result column="itemid" property="itemid" jdbcType="VARCHAR" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext4" property="ext4" jdbcType="VARCHAR" />
    <result column="ext5" property="ext5" jdbcType="VARCHAR" />
    <result column="ext6" property="ext6" jdbcType="VARCHAR" />
    <result column="ext7" property="ext7" jdbcType="VARCHAR" />
    <result column="ext8" property="ext8" jdbcType="VARCHAR" />
    <result column="ext9" property="ext9" jdbcType="VARCHAR" />
    <result column="ext10" property="ext10" jdbcType="VARCHAR" />
  </resultMap>
   <!-- sql片段，查询的时候使用 -->
   <sql id="BaseWhereCondition">
    <if test="baseid != null and baseid != ''"> and t.baseid= ${baseid}</if>
   <if test="itemid != null and itemid != ''"> and itemid like '%${itemid}%'</if>
   <if test="itemname != null and itemname != ''"> and itemname like '%${itemname}%'</if>
   </sql>
 
  <sql id="Base_Column_List" >
    id, baseid,itemname,itemid,status, ext1, ext2, ext3, ext4, ext5, ext6, ext7, ext8, ext9, ext10
  </sql>
  
   <!-- 查询总条数 -->
   <select id="getTotalCountsByParams" resultType="java.lang.Integer" parameterType="map" >
    select count(*) from t_dictionary_base b,t_dictionary_item t 
    where t.status=0 and b.id=t.baseid
    <include refid="BaseWhereCondition"/>
  </select>
  <!-- 查询信息 -->
  <select id="queryPageByParams" resultType="map" parameterType="map">
	  select * FROM(select ROWNUM as ROWNO,t.* from (Select 
	  b.id as bid ,b.typename,t.id as tid,b.typeid,t.itemid,t.baseid,t.itemname from t_dictionary_base b,t_dictionary_item t 
    where t.status=0 and b.id=t.baseid 
      <include refid="BaseWhereCondition"/>
      ) t where <![CDATA[ ROWNUM <= #{endRow,jdbcType=INTEGER}]]>)
      where ROWNO>= #{startRow,jdbcType=INTEGER} 
  </select>
  
  <!-- 添加数据字典子项信息 -->
  <insert id="insertItem" parameterType="com.creditease.eas.dictionary.bean.DictionaryItem" >
     <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE"> 
   		select T_DICTIONARY_ITEM_SEQ.NEXTVAL from dual
	 </selectKey>
    insert into t_dictionary_item (id, baseid,itemid, 
      itemname, ext1, ext2, 
      ext3, ext4, ext5, ext6, 
      ext7, ext8, ext9, ext10
      )
    values (#{id,jdbcType=INTEGER}, #{baseid,jdbcType=INTEGER}, #{itemid,jdbcType=VARCHAR},
      #{itemname,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, #{ext6,jdbcType=VARCHAR}, 
      #{ext7,jdbcType=VARCHAR}, #{ext8,jdbcType=VARCHAR}, #{ext9,jdbcType=VARCHAR}, #{ext10,jdbcType=VARCHAR}
      )
  </insert>
   <!--根据id删除某条字典子项信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
   update t_dictionary_item set status=1 where id =#{id}
  </delete>
  
   <!--根据baseid删除t_dictionary_item表中数据 -->
  <delete id="deleteDataInfo" parameterType="java.lang.Integer" >
    update t_dictionary_item set status=1  
    where baseid = #{baseid,jdbcType=INTEGER}
  </delete>
  
  <!--根据id查询字典子项 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dictionary_item
    where status=0 and id = #{id,jdbcType=INTEGER}
  </select>
  
   <!--根据baseid查询字典子项 -->
  <select id="seleteItemData" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dictionary_item
    where status=0 and baseid = #{baseid,jdbcType=INTEGER} ORDER BY NLSSORT(itemname,'NLS_SORT = SCHINESE_PINYIN_M')
    
  </select>
  
  
   <!-- 保存修改的字典子项信息 -->
  <update id="updateByPrimaryKey" parameterType="com.creditease.eas.dictionary.bean.DictionaryItem" >
    update t_dictionary_item
    set baseid = #{baseid,jdbcType=INTEGER},
    itemid = #{itemid,jdbcType=VARCHAR},
    itemname = #{itemname,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=VARCHAR},
      ext5 = #{ext5,jdbcType=VARCHAR},
      ext6 = #{ext6,jdbcType=VARCHAR},
      ext7 = #{ext7,jdbcType=VARCHAR},
      ext8 = #{ext8,jdbcType=VARCHAR},
      ext9 = #{ext9,jdbcType=VARCHAR},
      ext10 = #{ext10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
   <!-- 判断数据是否已经存在了 -->
	<select id="itemidIfExists" resultType="java.lang.Integer" parameterType="map">
		select count(id) from t_dictionary_item where status=0
		<if test="baseid != null and baseid != ''">
		and baseid = ${baseid}
		</if>
		<if test="itemid != null and itemid != ''">
		and itemid = '${itemid}'
		</if>
	</select>
	
	<!-- 判断数据是否已经存在了 -->
	<select id="itemnameIfExists" resultType="java.lang.Integer" parameterType="map">
		select count(id) from t_dictionary_item where status=0
		<if test="baseid != null and baseid != ''">
		and baseid = ${baseid}
		</if>
		<if test="itemname != null and itemname != ''">
		and itemname = '${itemname}'
		</if>
	</select>
  
</mapper>