<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.eas.admin.dao.RoleFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.creditease.eas.admin.bean.RoleFunction" >
    
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="function_id" property="functionId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="linktype" property="linktype" jdbcType="INTEGER" />
    <result column="stutas" property="stutas" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, function_id, role_id, linktype, stutas
  </sql>
  <!-- 根据角色id查找角色权限 --><!--
  <select id="seleFunctionid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_role_function
    where role_id = #{id,jdbcType=INTEGER} and stutas=0
  </select>
  
   -->
   
   <!-- 根据角色id、linktype查询权限-->
  <select id="selerolefonctionid" resultType="java.lang.Integer" parameterType="map">
    select function_id from t_role_function
    where role_id = #{roleid,jdbcType=INTEGER} and linktype = #{linktype,jdbcType=INTEGER} and stutas=0
  </select>
  
  
   <insert id="insert" parameterType="com.creditease.eas.admin.bean.RoleFunction" >
     <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE"> 
   		select T_ROLEFUNC_SEQ.NEXTVAL from dual
	  </selectKey>
    insert into t_role_function (id, function_id, role_id, 
      linktype, stutas)
    values (#{id,jdbcType=INTEGER}, #{functionId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{linktype,jdbcType=INTEGER}, #{stutas,jdbcType=INTEGER})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_role_function
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from t_role_function
    where function_id = #{functionId,jdbcType=INTEGER} and linktype = #{linktype,jdbcType=INTEGER} and role_id = #{roleid,jdbcType=INTEGER}
  </delete>
  
  <!-- 删除时更改status状态为1 -->
  <update id="updateStatus" parameterType="java.lang.Integer">
     update t_role_function
     set stutas = 1
      where role_id = #{id,jdbcType=INTEGER}
  </update>
 
  <insert id="insertSelective" parameterType="com.creditease.eas.admin.bean.RoleFunction" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 14 16:11:18 CST 2013.
    -->
    insert into t_role_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="functionId != null" >
        function_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="linktype != null" >
        linktype,
      </if>
      <if test="stutas != null" >
        stutas,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="functionId != null" >
        #{functionId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="linktype != null" >
        #{linktype,jdbcType=INTEGER},
      </if>
      <if test="stutas != null" >
        #{stutas,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creditease.eas.admin.bean.RoleFunction" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 14 16:11:18 CST 2013.
    -->
    update t_role_function
    <set >
      <if test="functionId != null" >
        function_id = #{functionId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="linktype != null" >
        linktype = #{linktype,jdbcType=INTEGER},
      </if>
      <if test="stutas != null" >
        stutas = #{stutas,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creditease.eas.admin.bean.RoleFunction" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Aug 14 16:11:18 CST 2013.
    -->
    update t_role_function
    set function_id = #{functionId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      linktype = #{linktype,jdbcType=INTEGER},
      stutas = #{stutas,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>