<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.eas.compliance.dao.PersonMapper" >
  <resultMap id="BaseResultMap" type="com.creditease.eas.compliance.bean.Person" >
    <id column="FID" property="fid" jdbcType="DECIMAL" />
    <result column="FNAME" property="fname" jdbcType="VARCHAR" />
    <result column="FNUMBER" property="fnumber" jdbcType="VARCHAR" />
    <result column="FMOBILE" property="fmobile" jdbcType="VARCHAR" />
    <result column="FOFFICEPHONE" property="fofficephone" jdbcType="VARCHAR" />
    <result column="FQQ" property="fqq" jdbcType="VARCHAR" />
    <result column="FEMAIL" property="femail" jdbcType="VARCHAR" />
    <result column="FLEVEL" property="flevel" jdbcType="VARCHAR" />
    <result column="FDEPTNAME" property="fdeptname" jdbcType="VARCHAR" />
    <result column="FCITYNAME" property="fcityname" jdbcType="VARCHAR" />
    <result column="FSALEDEPART" property="fsaledepart" jdbcType="VARCHAR" />
    <result column="FENTRYTIME" property="fentrytime" jdbcType="VARCHAR" />
    <result column="FLASTWORKUNIT" property="flastworkunit" jdbcType="VARCHAR" />
    <result column="FEDUCATION" property="feducation" jdbcType="VARCHAR" />
    <result column="FREFERRER" property="freferrer" jdbcType="VARCHAR" />
    <result column="FCOMPLAINTCOUNT" property="fcomplaintcount" jdbcType="DECIMAL" />
    <result column="FREFERCASE" property="frefercase" jdbcType="VARCHAR" />
    <result column="FCOMPANYNAME" property="fcompanyname" jdbcType="VARCHAR" />
    <result column="FBYCOMPLIANTADD" property="fbycompliantadd" jdbcType="VARCHAR" />
    <result column="FISAGENT" property="fisagent" jdbcType="DECIMAL" />
    <result column="FNOTAGENTREMARK" property="fnotagentRemark" jdbcType="DECIMAL" />
    <result column="FISINNER" property="fisinner" jdbcType="DECIMAL" />
    <result column="FCOMPLAINID" property="fcomplainid" jdbcType="DECIMAL" />
    <result column="FDETAILDESCRIP" property="fdetaildescrip" jdbcType="VARCHAR" />
    <result column="FCREATEUSERID" property="fcreateuserid" jdbcType="DECIMAL" />
    <result column="FCREATETIME" property="fcreatetime" jdbcType="DATE" />
    <result column="FUPDATEUSERID" property="fupdateuserid" jdbcType="DECIMAL" />
    <result column="FLASTUPDATETIME" property="flastupdatetime" jdbcType="DATE" />
    <result column="FEXT1" property="fext1" jdbcType="VARCHAR" />
    <result column="FEXT2" property="fext2" jdbcType="VARCHAR" />
    <result column="FEXT3" property="fext3" jdbcType="VARCHAR" />
    <result column="FEXT4" property="fext4" jdbcType="VARCHAR" />
    <result column="FEXT5" property="fext5" jdbcType="VARCHAR" />
    <result column="FEXT6" property="fext6" jdbcType="VARCHAR" />
    <result column="FEXT7" property="fext7" jdbcType="VARCHAR" />
    <result column="FEXT8" property="fext8" jdbcType="VARCHAR" />
    <result column="FEXT9" property="fext9" jdbcType="VARCHAR" />
    <result column="FEXT10" property="fext10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 29 19:10:18 CST 2013.
    -->
    FID, FNAME, FNUMBER, FMOBILE, FOFFICEPHONE, FQQ, FEMAIL, FLEVEL, FDEPTNAME, FCITYNAME, 
    FSALEDEPART, FENTRYTIME, FLASTWORKUNIT, FEDUCATION, FREFERRER, FCOMPLAINTCOUNT, FREFERCASE, 
    FCOMPANYNAME, FBYCOMPLIANTADD, FISAGENT,FNOTAGENTREMARK,FISINNER,FCOMPLAINID,FCREATEUSERID, FCREATETIME, FUPDATEUSERID, FLASTUPDATETIME,
    FEXT1, FEXT2, FEXT3, FEXT4, FEXT5, 
    FEXT6, FEXT7, FEXT8, FEXT9, FEXT10
  </sql>
  <!-- 根据案件ID,查询案件关联的人员信息 -->
  <select id="selectPersonByComplainId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_COM_PERSON
    where FCOMPLAINID = #{complainid,jdbcType=DECIMAL}
  </select>
  <!-- 根据案件ID,删除案件关联的人员信息 -->
  <delete id="deletePersonByComplainId" parameterType="java.lang.Integer" >
    delete from T_COM_PERSON
    where FCOMPLAINID = #{complainid,jdbcType=DECIMAL}
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Sep 29 19:10:18 CST 2013.
    -->
    select 
    <include refid="Base_Column_List" />
    from T_COM_PERSON
    where FID = #{fid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_COM_PERSON
    where FID = #{fid,jdbcType=DECIMAL}
  </delete>
  <!-- 添加人员信息 -->
  <insert id="insert" parameterType="com.creditease.eas.compliance.bean.Person" >
    <selectKey keyProperty="fid" resultType="int" order="BEFORE">
			select T_COM_PERSON_SEQ.nextval from dual
	</selectKey>
    insert into T_COM_PERSON (FID, FNAME, FNUMBER, 
      FMOBILE, FOFFICEPHONE, FQQ, 
      FEMAIL, FLEVEL, FDEPTNAME, 
      FCITYNAME, FSALEDEPART, FENTRYTIME, 
      FLASTWORKUNIT, FEDUCATION, FREFERRER, 
      FCOMPLAINTCOUNT, FREFERCASE, FCOMPANYNAME, 
      FBYCOMPLIANTADD, FISAGENT,FNOTAGENTREMARK,FISINNER, 
      FCOMPLAINID,FCREATEUSERID, FCREATETIME, FUPDATEUSERID, FLASTUPDATETIME,FEXT1, FEXT2, FEXT3, 
      FEXT4, FEXT5, FEXT6, 
      FEXT7, FEXT8, FEXT9, 
      FEXT10)
    values (#{fid,jdbcType=DECIMAL}, #{fname,jdbcType=VARCHAR}, #{fnumber,jdbcType=VARCHAR}, 
      #{fmobile,jdbcType=VARCHAR}, #{fofficephone,jdbcType=VARCHAR}, #{fqq,jdbcType=VARCHAR}, 
      #{femail,jdbcType=VARCHAR}, #{flevel,jdbcType=DECIMAL}, #{fdeptname,jdbcType=VARCHAR}, 
      #{fcityname,jdbcType=VARCHAR}, #{fsaledepart,jdbcType=VARCHAR}, #{fentrytime,jdbcType=VARCHAR}, 
      #{flastworkunit,jdbcType=VARCHAR}, #{feducation,jdbcType=VARCHAR}, #{freferrer,jdbcType=VARCHAR}, 
      #{fcomplaintcount,jdbcType=DECIMAL}, #{frefercase,jdbcType=VARCHAR}, #{fcompanyname,jdbcType=VARCHAR}, 
      #{fbycompliantadd,jdbcType=VARCHAR}, #{fisagent,jdbcType=DECIMAL},#{fnotagentRemark,jdbcType=VARCHAR},#{fisinner,jdbcType=DECIMAL},
      #{fcomplainid,jdbcType=DECIMAL}, #{fcreateuserid,jdbcType=DECIMAL}, #{fcreatetime,jdbcType=DATE}, #{fupdateuserid,jdbcType=DECIMAL}, 
      #{flastupdatetime,jdbcType=DATE},#{fext1,jdbcType=VARCHAR}, #{fext2,jdbcType=VARCHAR}, #{fext3,jdbcType=VARCHAR}, 
      #{fext4,jdbcType=VARCHAR}, #{fext5,jdbcType=VARCHAR}, #{fext6,jdbcType=VARCHAR}, 
      #{fext7,jdbcType=VARCHAR}, #{fext8,jdbcType=VARCHAR}, #{fext9,jdbcType=VARCHAR}, 
      #{fext10,jdbcType=VARCHAR})
  </insert>
</mapper>