<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <description>CKEditor for Java. The server side integration for CKEditor.</description>
 <display-name>CKEditor for Java - Sample Web Application</display-name>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>classpath*:applicationContext*.xml</param-value>
 </context-param>
 <!--applicationContext.xml配置文件分成多个，让配置的spring监视器每个都能加载到
		当spring 通过多配置文件，可以写很多的配置文件加载‘
		现在使用注解方式，
	 -->
 <filter>
  <filter-name>loginFilter</filter-name>
  <filter-class>com.creditease.eas.filter.LoginFilter</filter-class>
 </filter>
 <!-- 配置webService -->
 <filter>
  <filter-name>rootFilter</filter-name>
  <filter-class>com.creditease.eas.filter.RootFilter</filter-class>
 </filter>
 <filter>
  <filter-name>struts-cleanup</filter-name>
  <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
 </filter>
 <!-- Character Encoding filter -->
 <filter>
  <filter-name>encodingFilter</filter-name>
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  <init-param>
   <param-name>encoding</param-name>
   <param-value>UTF-8</param-value>
  </init-param>
  <init-param>
   <param-name>forceEncoding</param-name>
   <param-value>true</param-value>
  </init-param>
 </filter>
 <!-- struts2的过滤器 -->
 <filter>
  <filter-name>struts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>loginFilter</filter-name>
  <url-pattern>*.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>rootFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>struts-cleanup</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <!-- Filter 映射 -->
 <filter-mapping>
  <filter-name>encodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <!-- 配置spring的监听器：解析读取我们配置的spring的配置文件 -->
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>CXFService</servlet-name>
  <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
 </servlet>
 <!--多文件上传-->
 <servlet>
  <servlet-name>omFileUpload</servlet-name>
  <servlet-class>com.creditease.eas.compliance.servlet.OmFileUploadServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>CXFService</servlet-name>
  <url-pattern>/webservices/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>omFileUpload</servlet-name>
  <url-pattern>/omFileUpload.hvm</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/exception.jsp</location>
 </error-page>
 <error-page>
  <exception-type>java.lang.Exception</exception-type>
  <location>/exception.jsp</location>
 </error-page>
 <error-page>
  <error-code>403</error-code>
  <location>/exception.jsp</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/exception.jsp</location>
 </error-page>
 <!-- jsp config的页面的配置 -->
 <jsp-config>
  <taglib>
   <taglib-uri>page</taglib-uri>
   <taglib-location>/WEB-INF/pagetag.tld</taglib-location>
  </taglib>
  <taglib>
   <!-- 配置标签的引用地址 JSP页面中引用时使用-->
   <taglib-uri>/eltag</taglib-uri>
   <!-- 配置标签的TLD文件地址 -->
   <taglib-location>/WEB-INF/ElTag.tld</taglib-location>
  </taglib>
 </jsp-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
