<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.eas.institutional.kingdee.dao.IEASOrgDao" >

	<!-- 获取所有行政组织信息 -->
	<select id="selectAllOrg" resultType="com.creditease.webservice.dto.GroupInfoDTO">
		select 
			fid id,fdisplayname_l2 groupName
		from t_org_admin
		where 1 = 1
			and fissealup = 0
		<if test="beginTime != null and beginTime !=''"> 
			and feffectdate &gt;= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="endTime != null and endTime !=''">
		 	and feffectdate &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="orgName != null and orgName !=''">
		 	and fdisplayname_l2 like '%#{orgName}%'
		</if>
		order by
			fdisplayname_l2
	</select>
	<!-- 获取新增组织信息 -->
	<select id="selectAddOrg" parameterType="map" resultType="com.creditease.webservice.dto.GroupInfoDTO">
		select 
			fid id,fdisplayname_l2 groupName
		from t_org_admin
		where 1 = 1
			and fissealup = 0
		<if test="beginTime != null and beginTime !=''"> 
			and feffectdate >= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="endTime != null and endTime !=''">
		 	and feffectdate &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
		</if>
		order by
			fdisplayname_l2
	</select>
	<!-- 获取所有更新组织信息 -->
	<select id="selectUpdateOrg" parameterType="map" resultType="com.creditease.webservice.dto.GroupInfoDTO">
		select 
			fid id,fdisplayname_l2 groupName
		from t_org_admin
		where 1 = 1
			and fissealup = 0
		<if test="beginTime != null and beginTime !=''"> 
			and flastupdatetime >= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="endTime != null and endTime !=''">
		 	and flastupdatetime &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
		</if>
		order by
			fdisplayname_l2
	</select>
	<!-- 获取所有无效组织信息 -->
	<select id="selectInvalidOrg" parameterType="map" resultType="com.creditease.webservice.dto.GroupInfoDTO">
		select 
			fid id
		from t_org_admin
		where 1 = 1
			and fissealup = 1
		<if test="beginTime != null and beginTime !=''"> 
			and finvaliddate >= to_date(#{beginTime},'yyyy-MM-dd hh24:mi:ss')
		</if>
		<if test="endTime != null and endTime !=''">
		 	and finvaliddate &lt;= to_date(#{endTime},'yyyy-MM-dd hh24:mi:ss')
		</if>
		order by
			fdisplayname_l2
	</select>
</mapper>