<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.eas.warn.dao.FinanceGroupBeanMapper" >
  <resultMap id="BaseResultMap" type="com.creditease.eas.warn.bean.FinanceGroupBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creatortime" property="creatortime" jdbcType="DATE" />
    <result column="lastupdater" property="lastupdater" jdbcType="VARCHAR" />
    <result column="lastupdatetime" property="lastupdatetime" jdbcType="DATE" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="ext3" property="ext3" jdbcType="VARCHAR" />
    <result column="ext4" property="ext4" jdbcType="VARCHAR" />
    <result column="ext5" property="ext5" jdbcType="VARCHAR" />
    <result column="ext6" property="ext6" jdbcType="VARCHAR" />
    <result column="ext7" property="ext7" jdbcType="VARCHAR" />
    <result column="ext8" property="ext8" jdbcType="VARCHAR" />
    <result column="ext9" property="ext9" jdbcType="VARCHAR" />
    <result column="ext10" property="ext10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
   
    id, name, creator, creatortime, lastupdater, lastupdatetime, ext1, ext2, ext3, ext4, 
    ext5, ext6, ext7, ext8, ext9, ext10
  </sql>
  
  <!-- 根据id查询组信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_finance_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <!-- 判断组是否已经存在了 -->
	<select id="selectedIfGroupExists" resultType="int" parameterType="string">
		select count(id) from t_finance_group where name=#{name,jdbcType=VARCHAR}
	</select>
  
 
  <!-- 删除组信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_finance_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 添加组信息 -->
  <insert id="insert" parameterType="com.creditease.eas.warn.bean.FinanceGroupBean" >
      <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE"> 
   		select T_FINANCE_GROUP_SEQ.NEXTVAL from dual
	  </selectKey>
	  
    insert into t_finance_group (id, name, creator, 
      creatortime, 
      ext1, ext2, ext3, ext4, 
      ext5, ext6, ext7, ext8, 
      ext9, ext10)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      SYSDATE, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, 
      #{ext5,jdbcType=VARCHAR}, #{ext6,jdbcType=VARCHAR}, #{ext7,jdbcType=VARCHAR}, #{ext8,jdbcType=VARCHAR}, 
      #{ext9,jdbcType=VARCHAR}, #{ext10,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.creditease.eas.warn.bean.FinanceGroupBean" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 16 14:45:42 CST 2013.
    -->
    insert into t_finance_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creatortime != null" >
        creatortime,
      </if>
      <if test="lastupdater != null" >
        lastupdater,
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
      <if test="ext4 != null" >
        ext4,
      </if>
      <if test="ext5 != null" >
        ext5,
      </if>
      <if test="ext6 != null" >
        ext6,
      </if>
      <if test="ext7 != null" >
        ext7,
      </if>
      <if test="ext8 != null" >
        ext8,
      </if>
      <if test="ext9 != null" >
        ext9,
      </if>
      <if test="ext10 != null" >
        ext10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatortime != null" >
        #{creatortime,jdbcType=DATE},
      </if>
      <if test="lastupdater != null" >
        #{lastupdater,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="ext6 != null" >
        #{ext6,jdbcType=VARCHAR},
      </if>
      <if test="ext7 != null" >
        #{ext7,jdbcType=VARCHAR},
      </if>
      <if test="ext8 != null" >
        #{ext8,jdbcType=VARCHAR},
      </if>
      <if test="ext9 != null" >
        #{ext9,jdbcType=VARCHAR},
      </if>
      <if test="ext10 != null" >
        #{ext10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creditease.eas.warn.bean.FinanceGroupBean" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 16 14:45:42 CST 2013.
    -->
    update t_finance_group
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatortime != null" >
        creatortime = #{creatortime,jdbcType=DATE},
      </if>
      <if test="lastupdater != null" >
        lastupdater = #{lastupdater,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime = #{lastupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="ext4 != null" >
        ext4 = #{ext4,jdbcType=VARCHAR},
      </if>
      <if test="ext5 != null" >
        ext5 = #{ext5,jdbcType=VARCHAR},
      </if>
      <if test="ext6 != null" >
        ext6 = #{ext6,jdbcType=VARCHAR},
      </if>
      <if test="ext7 != null" >
        ext7 = #{ext7,jdbcType=VARCHAR},
      </if>
      <if test="ext8 != null" >
        ext8 = #{ext8,jdbcType=VARCHAR},
      </if>
      <if test="ext9 != null" >
        ext9 = #{ext9,jdbcType=VARCHAR},
      </if>
      <if test="ext10 != null" >
        ext10 = #{ext10,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 修改组信息 -->
  <update id="updateByPrimaryKey" parameterType="com.creditease.eas.warn.bean.FinanceGroupBean" >
   
    update t_finance_group
    set name = #{name,jdbcType=VARCHAR},
      lastupdater = #{lastupdater,jdbcType=VARCHAR},
      lastupdatetime = SYSDATE,
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR},
      ext4 = #{ext4,jdbcType=VARCHAR},
      ext5 = #{ext5,jdbcType=VARCHAR},
      ext6 = #{ext6,jdbcType=VARCHAR},
      ext7 = #{ext7,jdbcType=VARCHAR},
      ext8 = #{ext8,jdbcType=VARCHAR},
      ext9 = #{ext9,jdbcType=VARCHAR},
      ext10 = #{ext10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  	<!-- 查询正常数据总数目 -->
	<select id="getTotalCounts" resultType="int">
	 select count(id) from t_finance_group 
	</select>
	<!-- 返回数据集合 -->
	 <select id="queryPage" resultMap="BaseResultMap" parameterType="map">
		Select * FROM(Select ROWNUM as ROWNO,<include refid="Base_Column_List"/> from t_finance_group  
		<where>
		<![CDATA[ROWNUM <= #{endRow,jdbcType=INTEGER}]]> 
		</where>
		) 
		<where>
		<![CDATA[ROWNO >= #{startRow,jdbcType=INTEGER}]]> 
		</where>
	</select>
  
</mapper>